.datePart {
    background-color: lightskyblue;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 5px;
}

.datePart h3 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.datePart span {
    background-color: aliceblue;
    padding: -2px 30px;
    border: 1px solid darkblue;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
}