.AllMyApp {
    margin: 20px auto;
    width: 95%;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
}