.CounterModelOne {

    background-color: lightgray;
    padding: 10px;
    border: 1px solid lightblue;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.CounterModelOne img {
    width: 18%;
}